<!DOCTYPE html>
<html>
<head>
  <title>FFG</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div style="display: flex;">
    <div style="flex: 0 0 auto; width: 15%;">
            
      <div class="menu">
        <aside class="sidebar">
          <header>
         
          </header>
          <nav class="sidebar-nav">
            <!--<div class="container" style="display: inline-block; float: left;">-->
              <div style="margin-top:20px;">
                <form action="/" method="POST"  style="margin-left:10px;">
                  <input type="text" name="text" class="input-text" placeholder="Entrez le nom d'un joueur" style="width:200px" >
                  <button type="submit" style="background-color: #8380f0; color: #000000; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;  margin-bottom: 20px;">Valider</button>

                </form>
              </div>
            <!--</div>-->
            <ul style="margin-left:10px;">
              <li><a href="{{ url_for('index') }}">Accueil</a></li>
              <li><a href="{{ url_for('run_network') }}">Network</a></li>
              <li><a href="{{ url_for('stat_ffg') }}">Statistiques FFG</a></li>
              <li><a href="https://github.com/Jeremy-Deh/NetworkAnalysisOfGoCompetitors/raw/main/FR_LeReseauDeGoEnFrance.pdf" target="_blank">Analyse du réseau de Go</a> </li>
            </ul>
          </nav>
        </aside>
      </div>
  
  </div>
    
    <div style="flex: 0 0 auto; width: 60%;">
      
      <div class="container" style="width: 400px; height: 400px; margin: 0 auto; clear: both; text-align: left;display: inline-block; float: right;">
        <h1>Géographie :</h1>
        {{ geographie | safe }}
      </div>
  
      <div class="result" style="overflow: auto; max-height:800px;width:700px;display: inline-block; float: left;">
        <div class="container" >
          <h1>Tournois :</h1>
          <table>
            <thead>
              <tr>
                <th style="width:100px">Date</th>
                <th style="width:250px">Lieu</th>
                <th style="width:350px">Tournoi</th>
              </tr>
            </thead>
            <tbody>
              {% if result %}
              {% for  index, row in listeTournois.iterrows() %}
                <tr>
                    <td>{{ row['date'] }}</td>
                    <td>{{ row['lieu'] }}</td>
                    <td><a href="{{ row['lien'] }}" target="_blank">{{ row['tournoi'] }}</a></td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div style="text-align: center;float: right;">
        <img src="data:image/png;base64,{{ img_base64 }}" alt="Historique" width="400" height="350">
      </div>


    </div>
    
    <div style="flex: 0 0 auto; width: 20%;">
      <div class="container" style="display: inline-block; float: right;">
        <h1>Informations :</h1>
        <h3><a href="{{ adressejoueurffg }}" target="_blank">{{ nomjoueur }} {{rang}}</a></h3>
        <div class="infos">
          {% if result %}
          <ul>
            <li>Premier tournoi : {{premierTournoi}}</li>
            <li>Nombre de tournois : {{ NbTournois }}</li>
            <li>Nombre de matchs : {{ NbMatchs }}</li>
            <li>Nombre d'adversaires : {{ NbAdversaires }}</li>
            <li>Nombre de victoires : {{ NbVictoires }}</li>
            <li>Nombre de défaites : {{ NbDefaites }}</li>
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="container" style="display: inline-block; float: left;">
        <h1>Statistiques récentes</h1>
        
        <div class="result">
          <div class="column">
            <h4>Victoires : ~{{moyG}}</h4>
            <ul>
              {% for item in gagne %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="column">
            <h4>Défaites : ~{{moyP}}</h4>
            <ul>
              {% for item in perdu %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>


</body>


  
  
  
  
</html>
